a {
    color: #222222;
    text-decoration: none;
}

a:visited {
    color: #222222;
    text-decoration: none;
}

body {
    background-color: #222222;;
    font-family: "Segoe UI", Verdana, serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 180px;
    background-color: #222222;
    box-shadow: 0 0 20px #000000;
    border-bottom: solid #444444 8px;
}

.logo {
    padding: 25px;
}

.logo img {
    width: 65%;
}

.title {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    color: #CCCCCC;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px #111111, 2px 2px #000000;
}

#entete {
    width: 100%;
    margin: auto;
    display: inline-flex;
    height: inherit;
}

#connect {
    margin: auto;
    height: 30px;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #AAAAAA;
    border-radius: 2rem;
    border: 4px solid #111111;
    box-shadow: 0 0 5px #000000 inset;
    color: #222222;
    font-size: 18px;
    text-align: center;
}

#connect a {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}

#connect a :visited {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}


#corps {
    float: left;
    width: 100%;
    background-color: #EDEDED;
}

#menu {
    float: left;
    width: 20%;
    min-height: 355px;
    margin-left: 3px;
    color: #222222;
    font-size: 15px;
}

#menu p {
    font-weight: bold;
}

#menu a {
    color: #222222;
    text-decoration: none;
}

#menu a :visited {
    color: #222222;
    text-decoration: none;
}

#menuInt {
    margin-top: 2px;
    margin-left: 50px;
    min-height: 367px;
}

#texte {
    float: left;
    width: 79%;
    margin-left: 5px;
    text-align: center;
    min-height: 380px;
    color: #222222;
    padding-bottom: 2rem;
}

#spacer {
    clear: both;
}

#footer {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: #222222;
    border-top: solid #444444 8px;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
    box-shadow: 0 -5px 5px #858585;
    position: relative;
    color: #CCCCCC;
    font-size: 12px;
    text-align: center;
}

.centreImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%
}

label {
    font-size: 12pt;
    font-weight: bold;
}

h1 {
    text-shadow: 1px 1px 2px #333333;
}

* a:hover {

    text-decoration: underline;
}

#menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#connect a {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}

table {
    margin: auto;
    text-align: center;
    border: solid black 1px;
    border-collapse: collapse;
}

table td, table th {
    border: solid black 1px;
    width: 20%;
}

.statut {
    display: none;
}

input {
    margin-bottom: 0.5rem;
}

input[type=text], input[type=tel], input[type=email], input[type=password] {
    background-color: white;
    border: white;
    border-radius: 2rem;
    height: 1.5rem;
}

select, input[type=date], input[type=time], input[type=number] {
    background-color: white;
    border: white;
    border-radius: 0.5rem;
    height: 2rem;
}

input[type=submit] {
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
}

.form-grid {
    display: table;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
}

.row {
    display: table-row;
    height: 2.5rem;
}

.form-grid input, .form-grid label {
    display: table-cell;
    text-align: left;
}

form {
    margin: 3rem;
}

.inline {
    display: inline;
}

#tab {
    display: table;
    margin: auto;
}

.col {
    display: table-cell;
    padding: 0.5rem;
    vertical-align: middle;
}

.statut label{
    padding-left: 1rem;
}

